services:
  proxy:
    image: "${CONTAINER_REGISTRY}morcus-proxy:latest"
    ports:
      - "0.0.0.0:443:443"
      # If `HTTP_PORT` is not specified, this will duplicate the above entry
      # and be a no-op.
      - "0.0.0.0:${HTTP_PORT:-443}:${HTTP_PORT:-443}"
    environment:
      PROD_HOST_NAMES: "${PROD_HOST_NAMES:?err}"
      DEV_HOST_NAMES: "${DEV_HOST_NAMES:?err}"
      # Even if `HTTP_PORT` is not specified, we still want to put in something
      # because we use this as an environment variable to substitute into the
      # nginx config template. Note that in this case, nginx will be listening
      # inside the container but the port is not mapped to any host port so the
      # traffic won't go through.
      HTTP_PORT: ${HTTP_PORT:-80}
    volumes:
      - "${LOGS_DIR:?err}/access.log:/morcus/access.log:rw"
      - "${LOGS_DIR:?err}/error.log:/morcus/error.log:rw"
    secrets:
      - ssl_cert
      - ssl_private_key
    labels: ["com.centurylinklabs.watchtower.enable=true"]
    restart: unless-stopped
    # Required so that SIGTERM and SIGINT are passed along to nginx.
    init: true
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "2"

  latincy:
    image: "${CONTAINER_REGISTRY}morcus-latincy:latest"
    labels: ["com.centurylinklabs.watchtower.enable=true"]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
    profiles: [nlp]

  dev:
    image: "${CONTAINER_REGISTRY}morcus:${STAGING_TAG}"
    environment:
      DB_SOURCE: "dev-${DB_TAG}"
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
      MONGODB_URI: "${MONGODB_URI}"
      PWA_SHORT_NAME_SUFFIX: " D"
      LATINCY_SERVER_ADDRESS: "http://latincy:8000"
    labels: ["com.centurylinklabs.watchtower.enable=true"]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"
    profiles: [staging]

  prod:
    image: "${CONTAINER_REGISTRY}morcus:${PROD_TAG:-main-latest}"
    environment:
      DB_SOURCE: "${DB_TAG:-prod}"
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
      MONGODB_URI: "${MONGODB_URI}"
      LATINCY_SERVER_ADDRESS: "http://latincy:8000"
    labels: ["com.centurylinklabs.watchtower.enable=true"]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

  watchtower:
    image: containrrr/watchtower
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      WATCHTOWER_POLL_INTERVAL: 75
      WATCHTOWER_LABEL_ENABLE: true
      WATCHTOWER_CLEANUP: true
      # This is a complete hack!!!
      # On more recent versions of Docker, support for clients below 1.49 was dropped.
      # The latest official watchtower image has not been updated for 2 years, so it
      # fails. Setting this environment variable will (as far as I understand) pretend
      # to be a more recent Docker version because nothing is technically broken yet.
      # See https://github.com/containrrr/watchtower/issues/2126 for more details.
      #
      # In the longer term, we should probably update to use images from one of the forks.
      # One community fork is https://github.com/nicholas-fedor/watchtower but I haen't yet
      # validated it.
      DOCKER_API_VERSION: 1.49
    logging:
      driver: "json-file"
      options:
        max-size: "500k"
        max-file: "2"

secrets:
  ssl_cert:
    file: "${SSL_CERT:?err}"
  ssl_private_key:
    file: "${SSL_PRIVATE_KEY:?err}"
